// Body typography and color styles
body {
    font-family: $body-font;
    background-color: $body-bg-color;
}

h1, h2, h3 {
    font-family: $heading-font;
    color: $header-color;
    text-transform: uppercase;
    margin: 15px;
}

p {
    margin: 1em 15px 1em 15px;
    letter-spacing: 0.01em;
    line-height: 1.5;
}

li {
    letter-spacing: 0.01em;
    line-height: 1.5;
}

nav a {
    font-family: $heading-font;
}

.email {
    color: $brand-color;
    text-decoration: underline;
}
.email:hover {
    color: $accent-color;
}