// Menu button Styles
//Button design
button {
    color: $text-color-light;
    text-transform: uppercase;
    background-color: $accent-color;
    font-size: 1.2em;
    border: none;
    outline: none;
}

//Hide Menu buttom only on skreens biger than mobile
.btn-menu {
    display: block;
    width: auto;
    border: none;
    padding: 5px;
    margin: auto;
    cursor: pointer;
    $transition: all 0.3s ease-in-out;
    position: relative;
    transition: $transition;

    .show & {
        background-color: transparent;
        color: $accent-color;
    } 

    @media (min-width: $tabletPortrait){
        display: none;
    } 
}