// Header styles
header {
    background-color: $brand-color;
    height: auto;
    
    //Header content layout
    .header-content {
        position: relative;
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: $padding;

        @media (min-width: $tabletPortrait) {
            @include flex-layout-row;
            justify-content: space-between;
        }
    }
    //Logo style
    h1 {
        color: $text-color-light;
        font-size: 2.5em;
        margin: auto auto 15px auto;

        @media (min-width: $tabletPortrait) {
            margin: 0; 
        }

        
    }

    //nav styles
    nav {
        display: none;
        margin: 15px;

        .show & {
            display: block;
        }

        ul {
            list-style-type: none;
        }

        li {
            padding: $padding/2;
        }

        @media (min-width: $tabletPortrait){
            display: block;

            ul {
                @include flex-layout-row;
            }
        } 
            
    } 
 }
