.day-lessons {
    a {
        color: $brand-color;
        text-decoration: underline;
    }
    a:hover {
        color: $accent-color;
    }
    h2, h3 {
        color: $header-color;
    }
    .responsive-image {
        display: block;
        margin: auto;
        width: 95%;
        height: auto;
        max-width: 600px;
        
    }
    .responsive-code-image {
        display: block;
        margin: 10px;
        height: auto;
        max-width: 300px;        
    }
}

section ul {
    list-style: none; /* Remove default bullets */
    margin-right: 1em;
}

section ul li::before {
    content: "\25CF";  /* \2022 is unicode for a bullet */
    color: $brand-color; 
    font-weight: bold; 
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space */
    margin-left: -1em; /* Also needed for space */
}

section ul li ul li::before {
    content: "\25CB";
}