//Main styles//

//HOME PAGE STYLES
//top-banner styles//

.banner-wrapper {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.top-banner {
    border-bottom: dotted 2px rgba(208, 217, 226, 0.822);
}

.title {
   font-size: 48px;
    position: relative;
    margin: 0 auto;
    padding: $padding $padding 0 $padding;
    text-align: center;
    text-transform: uppercase;
    color: $header-color;
    
}

/*photo background for letters*/
/* Clip text element */
.clip-text {
    font-size: 20vw;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: 30px;
    box-sizing: inherit;
    width: 81vw;
    text-align: center;
    /* Color fallback */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: $tabletSmall) {
        font-size: 17vw;
        width: 71.5vw;
    }

    @media (min-width: $desktopSmall) {
        font-size: 13vw;
        width: 55vw;
    }

    @media (min-width: $desktop) {
        font-size: 11vw;
        width: 45vw;
    }
}

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
}

/* Background image  */
.clip-text_one {
    background-image: url(../images/blue-code.jpg);
    background-color: $brand-color;
}

/*mid-banner styles*/
//mobile version with one column and 6 rows of illustrations
.mid-banner {
    padding: $padding $padding 15px $padding;
}
.container {
    display: grid;
    grid-template-rows: 1fr (repeat(6));
    grid-template-columns: repeat(1, 1fr);
   
//tablet version with two columns and 3 rows of illustratios
    @media (min-width: $tabletPortrait) {
        grid-template-rows: 1fr (repeat(3));
        grid-template-columns: repeat(2, 1fr);
    }

//desktop version with three columns and two rows of illustrations
    @media (min-width: $desktop) {
        grid-template-rows: 1fr (repeat(2));
        grid-template-columns: repeat(3, 1fr);
    }
}

//sizes change of illustraions
.illustration {
    width: 68vw;
    height: auto;

    @media (min-width: $tabletPortrait) {
        width: 30vw;  
    }

    @media (min-width: $desktopSmall) {
        width: 25vw;
    }

    @media (min-width: $desktop) {
        width: 14vw;
    }
}

//styling illustrations
.item {
    background-color: rgba(208, 217, 226, 0.822);
    margin: 15px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.item > p {
    padding: 5px $padding/2 5px $padding/2;
    background-color: rgba(255, 255, 255, 0.9);
    color: #39374E;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%; 
}

.item:hover {
    background-color:rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

//Filter for illustration
.illustration {
    -webkit-filter: opacity(0.7) grayscale(0.5);
  filter: opacity(0.7) grayscale(0.5);
}

//Back to top styling
.bottom-banner {
    display: flex;
    justify-content: center;
    padding: 15px $padding $padding $padding;
}

//COURSE PAGE STYLES
.course {
    padding: $padding $padding 0px $padding;
}

//illustration styles
.course > div {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "area";
}

//sizes change of illustraions
.course .illustration {
    width: 68vw;
    height: auto;

    @media (min-width: $tabletPortrait) {
        width: 30vw;  
    }

    @media (min-width: $desktop) {
        width: 20vw;
    }
}

//lists styles
.course ul {
    list-style: none; /* Remove default bullets */
    margin-right: 1em;
  }
  
.course ul li::before {
    content: "\25CF";  /* \2022 is unicode for a bullet */
    color: $brand-color; 
    font-weight: bold; 
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space */
    margin-left: -1em; /* Also needed for space */
}

//table styles

table {
    margin: 15px;
    width: 95%;
}

th, td {
    padding: $padding/2;
    border-bottom: 1px solid #ddd;
}

th {
    text-align: center;
}

td {
    text-align: left;
}

thead {
    background-color: #79b89d;
}

tfoot > tr {
    background-color: #79b89d2c;
}

tr:hover {
    background-color: #79b89d2c;
}

//LESSONS PAGE STYLES
.item > a > p {
    padding: 5px $padding/2 5px $padding/2;
    background-color: rgba(255, 255, 255, 0.9);
    color: #39374E;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}