.schedule-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    padding: 45px;
    margin: 0px;

    //tablet version with two columns and 3 rows of illustratios
    @media (min-width: $tabletSmall) {
        grid-template-columns: repeat(2, 1fr);
    }

    //desktop version with three columns and two rows of illustrations
    @media (min-width: $desktopSmall) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.schedule-grid a {
    background-color: rgba(208, 217, 226, 0.822);
    padding: 20px;
    font-size: 20px;
    text-align: left;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.schedule-grid a:hover {
    background-color:rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.schedule-grid h3 {
    text-align: center;
    color: $accent-color;
}

//lists styles
.schedule-grid ul {
    list-style: none; /* Remove default bullets */
    margin-right: 1em;
  }
  
  .schedule-grid ul li::before {
    content: "\2022";  /* \2022 is unicode for a bullet */
    color: $brand-color; 
    font-weight: bold; 
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space */
    margin-left: -1em; /* Also needed for space */
}
