// Fonts
$body-font: ‘Karla’, sans-serif;
$heading-font: ‘Oswald’, sans-serif;
$heading-special-font: ‘Oswald’, sans-serif;

// Colors
$brand-color: #146DC1;
$body-bg-color: rgb(179, 182, 184);
$wrapper-bg-color: white;
$footer-bg-color: rgb(12, 64, 112);
$accent-color: #79b89d;

// Text Colors
$header-color: #39374E;
$text-color-dark: black;
$text-color-light: white;

// Use Color functions to brighten and darken colors
$brand-color-dark: darken($brand-color, 10);
$brand-color-light: lighten($brand-color, 20);

// Layout variables
$padding: 30px;
$wrapper-90: 90%;
$wrapper-85: 85%;
$wrapper-80: 80%;
$wrapper-75: 75%;
$wrapper-70: 70%;

// Function to
// Convert Px to Ems
@function em($px, $bc: 16){
    @return #{$px/$bc}em; 
}

// Media Query Breakpoints
$phoneSmall: em(320);
$phonePortrait: em(420);
$phoneBig: em(586);
$tabletSmall: em(700);
$tabletPortrait: em(850);
$desktopSmall: em(1420);
$desktop: em(1920);