// Wrapper styles
.wrapper {
    max-width: 100%;
    background-color: $wrapper-bg-color;
    margin-top: 0px;
    @include margin-center;

    @media (min-width: $tabletPortrait) {
        max-width: $wrapper-90;
    }

    @media (min-width: $desktopSmall) {
        max-width: $wrapper-85;
    }

    @media (min-width: $desktop) {
        max-width: $wrapper-80;
    }
}