// Wrapper styles
.wrapper {
    max-width: 100%;
    background-color: $wrapper-bg-color;
    margin-top: 0px;

    @media (min-width: $tabletSmall) {
        max-width: $wrapper-max-width;
        @include margin-center;
    }

}